.image{
	display: block;
	height: 150px;
	width: 150px;
	border-radius: 50%;
	background: #fff;
	line-height: 1.8;
	color: #666666;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}
